html,
body {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  background: rgb(109, 132, 245);
  background: radial-gradient(circle, rgb(109, 132, 245) 0%, rgba(0,0,0,1) 100%);
}

.FlexWrap {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 100%);
	font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;          
  align-items: center;      
  justify-content:space-evenly;  
}

.FlexItem {
  width: 200px;           
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.FlexItem:hover {
  transition: 0.1s;
  transform: scale(1.1);
  cursor: pointer;
 

}

/************************************* MENU ***********************************************/
.MenuWrap {
	background-color: rgba(0, 0, 0, 0.713);
	color: #ebebeb;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2rem;
	height: 5.75rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

.ListItem, .LastItem {
	display: flex;
	color:#ebebeb;
	text-decoration: none;  /* removes the classic link underline */
}

.ListItem {
	margin-right: auto;
}

.LastItem {
	margin-right: auto;		
}

a:hover{
    color:orange;
}
 .allPictures{
    color: orange;
    
 }

 /***************************** MODAL ****************************************/

 /* Modal */
 .modal-wrapper {
  display: none;
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.898);
  border-radius: 4px;
  transform: translate(-50%, -50%); 
  overflow: scroll;
}

/* Image inside modal */
.modal-content{
  margin: auto;
  display: block;
  width: 80%;
  left: 50%;
  top: 50%;
  width: 500px; 
  height: 300px; 
  object-fit: scale-down;
  color:white;
  overflow: scroll;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.title{
  display: none;
}

.comment{
  display:none;
}

p{
  color: white;
}

h2 {
  color:white;
}
